#input-text {
  font-size: 36px !important;
  padding: 1rem;
  color: darkgrey;
}

body,
html {
  height: 98%;
  position: relative;
  font-family: "Courier New", Courier, monospace;
  background-color: rgb(71, 77, 72);
}
section {
  max-width: 700px;
  margin: 0 auto;
}
.soz {
  border-radius: 5px;
  padding: 2px;
  margin: 2px;
  line-height: 3rem;
  font-weight: bold;
}
.by-Muhammad {
  color: white;
  text-align: center;
  position: absolute;
  bottom: 50px;
  right: 0px;
  transform: rotate(90deg);
}
.links {
  position: absolute;
  left: 10px;
  bottom: 10px;
}
.links a {
  font-size: 32px;
  color: white;
  transition: all 0.4s;
  opacity: 40%;
}
.links a:hover {
  /* transform: scale(1.1); */
  opacity: 100%;
}
.links ul {
  margin: 0;
  padding-left: 10px;
}
.links ul li {
  list-style: none;
}
.line {
  width: 0.5px;
  height: 150px;
  margin: 1rem auto;
  background-color: white;
}
.layer {
  margin: 0;
  position: absolute;
  background-color: black;
  width: 100%;
  height: 100%;
  opacity: 90%;
  z-index: 1;
}
.card {
  position: absolute;
  top: 25%;
  margin: 0 35%;
  padding: 1rem;
  height: 100px;
  width: 450px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}
.ism {
  font-size: 24px;
  opacity: 100%;
  padding: 1rem;
}
@media screen and (max-width: 800px) {
  .soz {
    border-radius: 5px;
    padding: 2px;
    margin: 2px;
    line-height: 0.2rem;
    font-weight: bold;
    font-size: 18px !important;
  }
  .links {
    display: none;
  }
  .by-Muhammad {
    transform: rotate(-0deg);
    bottom: 0;
    right: 10px;
    opacity: 25%;
  }
}
.kuntun {
  font-size: 24px;
  color: white;
  position: absolute;
  top: 10px;
  left: 10px;
}
.kuntun span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  padding-top: 5px;
  border-radius: 50px;
  background-color: orange;
}
#kuntun:checked + span {
  transform: rotate(360deg);
  transition: all 0.4s;
  background-color: black;
}
/* span::after {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  background-color: white;
  transition: all 0.4s;
  z-index: -100;
} */
#kuntun:checked + span::after {
  transform: scale(300);
}
#kuntun:checked + span .bi-moon {
  display: block;
}
#kuntun:checked + span .bi-sun {
  display: none;
}
.bi-moon {
  display: none;
}
.kun {
  color: rgb(53, 53, 53) !important;
  background-color: lightgray !important;
}
